<div class="article-form">
  <%= form_with model: article do |f| %>
  <table class="table">
    <tr>
      <td class="article-form-right">投稿タイトル</td>
      <td class="article-form-left"><%= f.text_field :title, class:"form-field" %></td>
    </tr>
    <tr>
      <td class="article-form-right">投稿本文</td>
      <td class="article-form-left"><%= f.text_area :body, class:"form-text" %></td>
    </tr>
    <tr>
      <td class="article-form-right">投稿画像<br />(複数選択可)</td>
      <td class="article-form-left"><%= f.attachment_field :images_files, multiple: true %></td>
    </tr>
    <tr>
      <td class="article-form-right">
        タグ
      </td>
      <td class="article-form-left">
        <%= f.collection_check_boxes(:tagname_ids, Tagname.all, :id, :tag_name) do |tag| %>
          <%= tag.label do %>
          <span class="article-tag">
            <%= tag.check_box %>
            <%= tag.text %>
          </span>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
    <%= f.submit "投稿", class:"btn btn-success" %>
  <% end %>
</div>