<%= form_with model: article do |f| %>
  <%= f.label :投稿タイトル %>
  <%= f.text_field :title %><br />
  <%= f.label :投稿本文 %>
  <%= f.text_area :body %><br />
  <%= f.label :投稿画像 %>
  <%= f.attachment_field :images_files, multiple: true %><br />
  <div class="check_box">
    <span>タグ</span>
    <div>
    <%= f.collection_check_boxes(:tagname_ids, Tagname.all, :id, :tag_name) do |tag| %>
      <%= tag.label do %>
      <%= tag.check_box %>
      <%= tag.text %>
      <% end %>
    <% end %>
    </div>
  </div>
  <%#= f.fields_for :images, @article.images.build do |g| %>
    <%#= g.label :都道府県名 %>
    <%#= g.text_field :prefecture %>
  <%# end %>
  <%= f.submit "投稿", class:"btn btn-success" %>
<% end %>
