<div class="row">
  <% articles.each do |article| %>

  <div class="col col-3">
    <div class="ctn">
      <div class="form">
        <% article.images.each do |images| %>
          <div class="box", style="background-image: url(<%= attachment_url images, :file, :fill, 100, 100, format: 'jpeg' %>)"></div>
        <% end %>
      </div>
    </div>

    <div class="article">
      <p>タイトル:<%= article.title %></p>
      <p>本文:<%= article.body %></p>
      <div class="tag">
        タグ
        <p>
          <% article.tagnames.each do |tag| %>
            ・<%= tag.tag_name %>
          <% end %>
        </p>
      </div>
      <p><%= article.created_at.strftime('%Y/%m/%d') %></p>
      <p>ユーザー名:<%= link_to article.user.name, user_path(article.user.id) %></p>
      <% if user_signed_in? %>
        <span id="favorites_<%= article.id %>">
          <%= render 'public/favorites/button', article: article %>
        </span>
        <p><%= link_to "#{article.comments.count}コメント", article_path(article.id) %></p>
      <% else %>
        いいね数:<%= article.favorites.count %><br />
        コメント数:<%= article.comments.count %>
      <% end %>
    </div>
  </div>

  <% end %>
</div>
<%= paginate articles %>
