<div class="row article-template">

  <% articles.each do |article| %>
  <div class="col-3 article-col">
    <div class="ctn">
      <div class="form">
        <% article.images.each do |images| %>
          <div class="box", style="background-image: url(<%= attachment_url images, :file, :fill, 100, 100, format: 'jpeg' %>)"></div>
        <% end %>
      </div>
    </div>

    <p>
      <i class="fas fa-calendar-alt"></i>: <%= l article.created_at, format: :short %>
    </p>

    <div class="article-button">
      <p>
        <% if user_signed_in? %>
          <% if article.user == current_user %>
            <%= article.favorites.count %> marks
          <% else %>
            <span id="favorites_<%= article.id %>">
              <%= render 'public/favorites/button', article: article %>
            </span>
          <% end %>
          <span>　/　</span>
          <%= link_to "#{article.comments.count}コメント", article_path(article.id) %>
        <% else %>
            <%= article.favorites.count %> marks  /  <%= article.comments.count %>
        <% end %>
      </p>
    </div>

    <table class="table">
      <tr>
        <%= link_to user_path(article.user.id) do %>
          <%= attachment_image_tag article.user, :profile_image, :fill, 50, 50, format: 'jpeg', class:'article-profile-img' %>
        <% end %>
        : <%= link_to article.user.name, user_path(article.user.id) %>
      </tr>
      <tr>
        <td>
          件名<br />
          <%= link_to article.title, article_path(article.id) %>
        </td>
      </tr>
      <tr>
        <td>
          本文<br />
          <%= article.body %>
        </td>
      </tr>
      <tr>
        <td>
          <span class="article-tagname">
            <details open>
              <summary>タグ(クリック)</summary>
              <p>
                <% article.tagnames.each do |tag| %>
                  ・<%= tag.tag_name %>
                <% end %>
              </p>
            </details>
          </span>
        </td>
        </tr>
    </table>
  </div>
  <% end %>
</div>
<%= paginate articles %>

