<div class="container textalign">
  <div class="article-flex">
    <div class="article-heading">
      <h3>投稿詳細情報</h3>
    </div>
  </div>

  <div class="center">
    <div class="form">
      <% @article.images.each do |images| %>
        <div class="article-image", style="background-image: url(<%= attachment_url images, :file, :fill, 400, 400, format: 'jpeg' %>)"></div>
      <% end %>
    </div>
    <p class="article-right"><%= link_to "GoogleMapへ", map_path(@article.id) %></p>
  </div>

  <div class="row article-box">
    <div class="col-md-6 article-show-border">
      <%= link_to @article.user.name, user_path(@article.user.id)  %>
      <p>
        <%= link_to user_path(@article.user.id) do %>
          <%= attachment_image_tag @article.user, :profile_image, :fill, 100, 100, format: 'jpeg', class:'article-profile-img' %>
        <% end %>
      </p>
      <% if @article.user == current_user %>
      <% else %>
        <div class="article-button" id="follows_<%= @article.user.id %>">
          <%= render "public/relationships/button", user: @article.user %>
        </div>
      <% end %>

      <div class="article-favorite">
        <% if @article.user == current_user %>
          <p><%= @article.favorites.count %> marks</p>
        <% else %>
          <span id="favorites_<%= @article.id %>">
            <%= render 'public/favorites/button', article: @article %>
          </span>
        <% end %>
        <p>
          投稿日時: <%= l @article.created_at %>
        </p>
      </div>

      <table class="table">
        <tr>
          <td>
            件名<br />
            <%= @article.title %>
          </td>
        </tr>
        <tr>
          <td>
            本文<br />
            <%= @article.body %>
          </td>
        </tr>
        <tr>
          <td>
            タグ名<br />
            <% @article.tagnames.each do |tag| %>
              🏷<%= tag.tag_name %>
            <% end %>
          </td>
        </tr>
      </table>

        <% if @article.user == current_user %>
        <p>
          <%= link_to "投稿編集", edit_article_path(@article.id) %>
          <span>　/　</span>
          <%= link_to "投稿を削除する", article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </p>
      <% end %>
    </div>

    <div class="col-md-6">
      <div id="comments_<%= @article.id %>">
        <%= render 'public/comments/new', comment: @comment, article: @article, comments: @article.comments %>
      </div>
    </div>
  </div>
</div>