<div class="container">
  <h3>投稿詳細情報</h3>
  <div class="center">
  <% @article.images.each do |images| %>
      <!--<label>都道府県名</label>-->
      <%#= images.prefecture %>
      <p><%= attachment_image_tag images, :file, :fill, 100, 100, format: 'jpeg' %></p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= link_to @article.user.name, user_path(@article.user.id)  %>
      <%= link_to user_path(@article.user.id) do %>
        <%= attachment_image_tag @article.user, :profile_image, :fill, 50, 50, format: 'jpeg' %>
      <% end %>
      <% if @article.user == current_user %>
      <% else %>
        <div id="follows_<%= @article.user.id %>">
          <%= render "public/relationships/button", user: @article.user %>
        </div>
      <% end %>
      <p>
        <label>投稿タイトル</label>
        <%= @article.title %>
      </p>
      <p>
        <label>投稿本文</label>
        <%= @article.body %>
      </p>
      <p>
        <% @article.tagnames.each do |tag| %>
          ・<%= tag.tag_name %>
        <% end %>
      </p>
      <p>
        <%= @article.created_at.strftime('%Y/%m/%d') %>
      </p>
      <% if @article.user == current_user %>
        <%= @article.favorites.count %>marks
      <% else %>
        <span id="favorites_<%= @article.id %>">
          <%= render 'public/favorites/button', article: @article %>
        </span>
      <% end %>
      <% if @article.user == current_user %>
        <p><%= link_to "投稿編集", edit_article_path(@article.id) %></p>
        <p><%= link_to "投稿を削除する", article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>
      <% end %>
    </div>

    <div class="col-md-6">
      <div id="comments_<%= @article.id %>">
        <%= render 'public/comments/new', comment: @comment, article: @article, comments: @article.comments %>
      </div>
    </div>

  </div>
</div>
