<div class="container">

  <div class="search-box">
    <% if @model == 'user' %>
      <% if @datas.empty? %>
        <h2>【ユーザーの検索】 '<%= @content %>' に該当する投稿はありませんでした。</h2>
        <p>キーワードや条件を変えてお試しください</p>
      <% else %>
        <h2>【ユーザーの検索】 '<%= @content %>' の検索結果</h2>
        <%= render 'public/searchs/show', users: @datas %>
      <% end %>
    <% elsif @model == 'article' %>
      <% if @datas.empty? %>
        <h2>【投稿の検索】 '<%= @content %>' に該当する投稿はありませんでした。</h2>
        <p>キーワードや条件を変えてお試しください</p>
      <% else %>
        <h2>【投稿の検索】 '<%= @content %>' の検索結果</h2>
      <% end %>
    <% end %>
  </div>

  <%= render 'public/articles/index', articles: @datas %>
</div>