<div class="user-flex">
  <div class="user-heading">
    <h3>ユーザー情報編集</h3>
  </div>
</div>

<div class="user-error-message">
  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました。<br />
    <% @user.errors.full_messages.each do |message| %>
      ・<%= message %><br />
    <% end %>
  <% end %>
</div>

<div class="user-form">
  <%= form_with model: @user, local:true do |f| %>
    <table class="table">
      <tbody>
        <tr>
          <td class="user-form-right">名前</td>
          <td class="user-form-left"><%= f.text_field :name, placeholder: "mark", autofocus: true, class:"form-field" %></td>
        </tr>
        <tr>
          <td class="user-form-right">自己紹介</td>
          <td class="user-form-left"><%= f.text_area :introduction, placeholder: "自己紹介", class:"form-text" %></td>
        </tr>
        <tr>
          <td class="user-form-right">プロフィール画像</td>
          <td class="user-form-left"><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "編集", class: "btn btn-success" %>
  <% end %>
</div>
