<h3>ユーザー情報編集</h3>

<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました。<br />
  <% @user.errors.full_messages.each do |message| %>
    ・<%= message %><br />
  <% end %>
<% end %>

<%= form_with model: @user, local:true do |f| %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>名前</td>
        <td><%= f.text_field :name, placeholder: "mark", autofocus: true %></td>
      </tr>
      <tr>
        <td>自己紹介</td>
        <td><%= f.text_area :introduction, placeholder: "自己紹介" %></td>
      </tr>
      <tr>
        <td>プロフィール画像</td>
        <td><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></td>
      </tr>
      <tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集", class: "btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
<% end %>