<div class="user-page">
  <% if @user == current_user %>

  <div class="user-flex">
    <div class="user-heading">
      <h3>マイページ</h3>
    </div>
  </div>

  <div class="profile">
    <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format:'jpeg', class:'profile-img' %>
  </div>

  <div class="user-edit">
    <p><%= link_to "ユーザー情報編集", edit_user_path(@user.id) %></p>
    <p><%= link_to "ユーザーの投稿一覧へ", myindex_path(@user.id) %></p>
  </div>

  <div class="lnk">
    <span>
      フォロー：
      <%= link_to user_followings_path(@user.id) do %>
         <%= @user.followings.count %>
      <% end %>
      <span>　/　</span>
      フォロワー：
      <%= link_to user_followers_path(@user.id) do %>
        <%= @user.followers.count %>
      <% end %>
      <span>　/　</span>
      いいねした投稿：
      <%= link_to favorites_user_path(@user) do %>
        <%= @user.favorites.count %>
      <% end %>
    </span>
  </div>

  <div class="user-profile">
    <table class="table">
      <tbody>
        <tr class="usertr">
          <td class="usertd">ユーザー名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr class="usertr">
          <td class="usertd">メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr class="usertr">
          <td class="usertd">自己紹介</td>
          <% if @user.introduction == nil %>
            <td><%= link_to "ユーザー情報編集", edit_user_path(@user.id) %> から自己紹介をしましょう!</td>
          <% else %>
            <td><%= @user.introduction %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <% else %><!--上がマイページ、下が他ユーザー詳細 -->

  <div class="user-flex">
    <div class="user-heading">
      <h3><%= @user.name %>さんの詳細</h3>
    </div>
  </div>

  <div class="profile">
    <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format:'jpeg', class:'profile-img' %>
  </div>

  <div class="user-edit">
    <% unless @user == current_user %>
      <p class="article-button" id="follows_<%= @user.id %>">
        <%= render "public/relationships/button", user: @user %>
      </p>
    <% end %>
    <p><%= link_to "ユーザーの投稿一覧へ", myindex_path(@user.id) %></p>
  </div>

  <div class="lnk">
    <span>
      フォロー：
      <%= link_to user_followings_path(@user.id) do %>
         <%= @user.followings.count %>
      <% end %>
      <span>　/　</span>
      フォロワー：
      <%= link_to user_followers_path(@user.id) do %>
        <%= @user.followers.count %>
      <% end %>
      <span>　/　</span>
      いいねした投稿：
      <%= link_to favorites_user_path(@user) do %>
        <%= @user.favorites.count %>
      <% end %>
    </span>
  </div>


  <div class="user-profile">
    <table class="table">
      <tbody>
        <tr class="usertr">
          <td class="usertd">ユーザー名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr class="usertr">
          <td>自己紹介</td>
          <% if @user.introduction == nil %>
            <td>こんにちは！</td>
          <% else %>
            <td><%= @user.introduction %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <% end %>
</div>
