<!DOCTYPE html>
<html>
  <head>
    <title>Marks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  </head>

  <body>

    <header>
      <% unless current_page?(root_path) %>
        <%= render "layouts/header" %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %></p>
        <% end %>
      <% end %>
    </header>
    <%= yield %>

    <% unless current_page?(root_path) %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
