<!DOCTYPE html>
<html>
  <head>
    <title>Marks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>-->
  </head>

  <body>

    <header>
      <% unless current_page?(root_path) %>
      <% unless current_page?(homes_about_path) %>
        <%= render "layouts/header" %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %></p>
        <% end %>
      <% end %>
      <% end %>
    </header>
    <%= yield %>

    <% unless current_page?(root_path) %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
