<div class="container">
  <div class="row mt-5">
    <div class="col">

      <h2 class="index">新規登録画面</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/user/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.text_field :name, placeholder: "mark", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.text_field :email, placeholder: "marks@mail" %>
      </div>

      <div class="field">
        <%= f.label :プロフィール画像 %><br />
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

        <div class="actions">
         <%= f.submit "新規登録", class: "btn btn-success rounded-pill" %>
        </div>
      <% end %>

      <p class="registration-link">
        アカウントをお持ちの方は
        <%= link_to "こちら", new_user_session_path %>からログインしてください。
      </p>

    </div>
  </div>
</div>

<style>
  .field {
    margin: 15px;
  }

  .index {
    margin-bottom: 50px;
  }

  .registration-link {
    margin: 50px 0;
    font-size: small;
  }
</style>
